
/* Really this body color is not very nice. Surely something better is possible. */

body {
  color: black;
  background: #F4F4FF;
}


/* The following are for documents marked up with AOML. */

.object-id {
  color: maroon;
  background: yellow;
  text-transform: uppercase;
}

.highlight {
  color: red;
  background: yellow;
}

/* The following are for documents marked up with AEML. */

.novice       { color: green; }
.intermediate { color: maroon; }
.advanced     { color: red;   }
